*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aaa;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cards{
    display: flex;
    gap: 2rem;
}

.card{
    width: 200px;
    height: 100px;
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    background-color: #eee;
}

a{
    text-decoration: none;
    color: black;
}

legend{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

fieldset{
    padding: 2rem;
    border-radius: 1rem;
    background-color: #bbb;
}

.user-card{
    display: flex;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border: black 1px solid;
    border-radius: 1rem;
    margin: 5px;
}

button{
    padding: 6px;
}

input{
    padding: 8px;
    border-radius: 4px;
    border: 0px;
}

.form-group{
    padding: 8px;
}

.form-button{
    float: right;
    margin: 2px;
}